@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --background-start: #f3e2d4;
  --background-end: #c5b0cd;
  --font-color: #17313e;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    var(--background-start) 29%,
    var(--background-end) 100%
  );
  color: var(--font-color);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-page-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Urbanist", sans-serif;
}

.todo-page-header {
  text-align: center;
}

.search-input::placeholder {
  font-family: "Urbanist", sans-serif;
  color: #888;
  font-weight: 500;
}

.form-input::placeholder {
  font-family: "Urbanist", sans-serif;
  color: #888;
  font-weight: 500;
}